#logo { text-align:center; }
.mudule-title img { vertical-align:middle; }
.transaction .actions { text-align:center; }
#subsection-title { text-align:center;padding:4px; }
.profile img.big { border:2px solid black; }
.profile img.medium { border:1px solid black; }
.profile img.small { border:1px solid black; }
#main-menu li img { margin:4px; }